.header-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.infos-wrapper {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.account-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.btn {
    margin: 0px 20px;
    background-color: #EA5F00;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.btn a {
    text-decoration: none;
    color: #FFFF;
    font-size: 12px;
}

.search-wrapper {
    width: 75vw;
    display: flex;
    justify-content: center;
}

.search-wrapper input {
    width: 30vw;
    background-color: #F0F0F0;
    border: 0;
    border-radius: 10px;
    padding: 5px 5px;
}