/* HERO 1 */
.hero1-container {
    width: 100vw;
    display: flex;
    margin: 80px 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero1-wrapper {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.call-to-action1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.call-to-action1 p {
    font-size: 46px;
    font-weight: lighter;
    max-width: 600px;
    text-align: center;
    margin: 30px 0px;
    color: #EA5F00;
}

.call-to-action1 .btn {
    padding: 10px 30px;
}

.call-to-action1 .btn a {
    font-size: 14px;
}

/* HERO 2 */

.hero2-container {
    width: 100vw;
    background-image: url('/images/orange-background.png');
    background-size: cover;
    min-height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.call-to-action2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.call-to-action2 p {
    font-size: 46px;
    font-weight: lighter;
    max-width: 600px;
    text-align: center;
    margin: 30px 0px;
    color: #FFFF;
}

.call-to-action2 .btn {
    padding: 10px 30px;
    background-color: #FFFF;
}

.call-to-action2 .btn a {
    font-size: 14px;
    color: #EA5F00;
}

/* CONTACT AREA */
.contact-form-container {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paragraph-container {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 40px;
    color: #EA5F00;
}


.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
}

.form-wrapper input {
    width: 30vw;
    background-color: #F0F0F0;
    border: 0;
    border-radius: 10px;
    padding: 5px 5px;
    margin-bottom: 20px;
}

.form-wrapper textarea {
    width: 30vw;
    background-color: #F0F0F0;
    border: 0;
    border-radius: 10px;
    padding: 5px 5px;
    margin-bottom: 20px;
}

.form-wrapper textarea::-webkit-input-placeholder {
    font-family: 'Karla', sans-serif;
}